@font-face {
    font-family: typo;
    src: url(Typo/KiwiSoda.ttf);
}

* {
    font-family: typo;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-image: url('./img_game/background/il_794xN.4476854018_clm2.avif');*/
    background-size: cover;
    background-position: center;
    background-color: #ffffff;
}

/* Cases où se retrouve les éléments du jeu */
.dressing, #character, .sidebar{
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
}

.sidebar {
    left : 1.5%;
    top:-25%;
    padding: 10px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 1;
}

#head, #clothes, #accessories {
    background-color: #3c9c7c;
    color: white;
    font-size: 2em;
    text-align: center;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
}

#head:hover {
    transform: scale(1.1);
}

#clothes:hover {
    transform: scale(1.1);
} 

#accessories:hover {
    transform: scale(1.1);
} 

.dressing{
    width: 45vw;
    height: 80vh;
    background-color: #e0ffe7;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
}

#character {
    width: 45vw;
    height: 80vh;
    background-color: #f0fade;
    align-items: center;
}


/* Images du personnage - toutes les couches */
#character img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: -10px;
    left: 0;
}



/* PARTIE GARDE ROBE */
.titles {
    position:relative;
    left :50px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: start;
    font-size: 2.5em;
    color: #3c9c7c;
}

/* section des coiffeurs et du maquillage */
.hair-makeup img {
    display : block;
    width: 10vw;
    height: 20vh;
    align-items :start;
    cursor: pointer;
    object-fit: contain;
    transition: all 0.5s ease;
    
}

.hair-makeup img:hover {
    transform: scale(1.1);
} 

.lign-items{
  display: flex;
  flex-direction: row;
  flex-wrap : nowrap;
  column-gap: 15%; 
}
/* Rendre invisible les titres coiffure et maquillage */
#hairstyle {
    display:block;
}
#makeup {
    display:block;
}

/* section des vêtements */
.cloth img {
    display:none;
    width: 10vw;
    height: 20vh;
    align-items :start;
    cursor: pointer;
    object-fit: contain;
    transition: all 0.5s ease;
    
}

.cloth img:hover {
    transform: scale(1.1);
} 

.lign-items{
  display: flex;
  flex-direction: row;
  flex-wrap : nowrap;
  column-gap: 15%; 
}
/* Rendre invisible les titres hauts et bas */
#up {
    display:none;
}
#down {
    display:none;
}

/* section des chaussures et accessoires */
.shoes-accessories img {
    display:none;
    width: 10vw;
    height: 20vh;
    align-items :start;
    cursor: pointer;
    object-fit: contain;
    transition: all 0.5s ease;
    
}

.shoes-accessories img:hover {
    transform: scale(1.1);
} 

.lign-items{
  display: flex;
  flex-direction: row;
  flex-wrap : nowrap;
  column-gap: 15%; 
}
/* Rendre invisible les titres hauts et bas */
#shoes {
    display:none;
}
#accessories-title {
    display:none;
}



/* PARTIE PERSONNAGE*/
/* Corps de base toujours visible */
.base-body {
    z-index: 0;
}

/* Cheveux */
#hair1 {
    display:none;
    z-index: 6;
}

#hair2 {
    display:none;
    z-index: 6;
}

#hair3 {
    display:none;
    z-index: 6;
}

 /* Maquillages  */
#makeup1 {
    display: none;
    z-index: 7;
}

#makeup2 {
    display: none;
    z-index: 7;
}

 /* Hauts */
#shirt2 {
    display: none;
    z-index: 4;
}

#shirt4 {
    display: none;
    z-index: 4;
}

#shirt1 {
    display: none;
    z-index: 4;
}

 /* Bas */
#pants1 {
    display: none;
    z-index: 3;
}

#skirt1 {
    display: none;
    z-index: 3;
}

#dress1 {
    display: none;
    z-index: 3;
}

/* Chaussures */
#shoes1 {
    display: none;
    z-index: 2;
}

#shoes2 {
    display: none;
    z-index: 2;
}

 /* Accessoires */
 #accessory1 {
    display: none;
    z-index: 1;
}

#accessory2 {
    display: none;
    z-index: 5;
}

#sock1 {
    display: none;
    z-index: 1;
}

